.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  height: 100%;
  padding: 8px;
  border-right: 1px solid var(--hover);
  gap: 4px;
}

.item {
  background-color: var(--bg-primary);
  border-radius: 10px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;

  & span {
    color: var(--text-primary);
    font-size: 12px;
    font-weight: 500;
  }

  &:hover {
    background-color: var(--hover-secondary);
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--link);
  color: white;
  padding: 4px;
  border-radius: 8px;
}

.itemActive {
  background-color: var(--link);

   & svg {
    color: white;
  }

  & span {
    color: white;
  }

  &:hover {
    background-color: var(--link);
  }
}

.bottom {
  margin-top: auto;
}
