:root {
  --bg-primary: #fff;
  --bg-secondary: #000;
  --text-primary: #4E4E4E;
  --text-secondary: #383838;
  --primary: #71B8EF;
  --secondary: #AAEDF2;
  --gray-200: #F5F5F5;
  --gray-300: #E5E5E5;
  --gray-900: #242424;
  --hover: #e0e0e0;
  --hover-secondary: #f5f5f5;
  --link: #007bff;
  --link-hover: #0069d9;
  --danger: #ff3c38;
}
