.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;

  & h1 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-primary);
    text-align: center;
  }

  & table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    & th, td {
      padding: 12px 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    & td:nth-child(2),
    & th:nth-child(2) {
      padding: 0;
    }
    & td:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    & thead {
      background-color: var(--hover);
      color: var(--text-primary);
      font-weight: 600;
      font-size: 0.875rem;
      text-align: left;

      & tr {
        border-bottom: 1px solid var(--hover)
      }

      & tr:last-of-type {
          border-bottom: 2px solid var(--link);
      }
    }

    & p:nth-child(1) {
      width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--text-primary);
    }
    & td:nth-child(3) {
      width: 10px;
    }

    & tbody {
      & tr {
        border-bottom: 1px solid var(--hover);

        &:hover {
          background-color: var(--hover-secondary);
        }
      }
    }
  }
}

.activeMusic {
  color: var(--link);
  & p {
    color: var(--link)!important;
  }
}

.musicDelete {
  background-color: var(--danger);
  color: var(--bg-primary);
}

.findMoreButton {
  background-color: var(--link);
  color: white;
  transition: all 0.2s ease-in-out;
  width: 100%;
  padding: 12px 0;

  &:hover {
    background-color: var(--link-hover);
  }
}
