.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
}

.containerOnlyHover {
    .headerOnlyHover {
      opacity: 0;
      margin-top: -40px;
    }
    .controlsOnlyHover {
      opacity: 0;
      margin-bottom: -40px;
    }

    &:hover {
      .headerOnlyHover {
        margin-top: 0;
        opacity: 1;
      }
      .controlsOnlyHover {
        margin-bottom: 0px;
        opacity: 1;
      }
    }
  }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 3;
  user-select: none;
  width: 100%;
  overflow: hidden;
  transition: all 0.2s;

  & h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 12px;
    color: var(--text-primary);
    overflow: hidden;
  }

  & h2 {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: var(--text-primary);
    user-select: none;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 3;
  transition: all 0.2s;

  & button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--text-primary);
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.hide {
  display: none;
}
