.tooltip {
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1;
  color: white;
  background-color: var(--gray-900);
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.tooltipArrow {
  fill: var(--gray-900);
}
